# 리스트 자료형

In [ ]:
#리스트에 값 추가, 삭제

In [ ]:
#추가
a = [1, 2, 3, 4, 5]

In [ ]:
print(type(a))

<class 'list'>

In [ ]:
print(a)

[1, 2, 3, 4, 5]

In [ ]:
# 6을 추가하겠다.
a.append(6)

In [ ]:
print(a)

[1, 2, 3, 4, 5, 6]

In [ ]:
#a.append(7,8) -> 에러남 왜 why: 한번에 한개씩만 넣을 수 있어서

In [ ]:
a.append([1,2]) #리스트에 추가하는거 자료형 상관 없음

In [ ]:
print(a)

[1, 2, 3, 4, 5, 6, [1, 2]]

In [ ]:
dir(a) #배열이랑 관련된 정보들을 보여줌

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
#insert 와 append의 차이 -> insert는 어디에 넣을지 정할 수 있다.

In [ ]:
# a.sort() -> 안에 리스트 들어있어서 정렬 안되네

In [ ]:
a2 = [3, 10, 19, 100, 1, 17]

In [ ]:
a2.sort() #sort -> 오름차순으로 정렬

In [ ]:
print(a2)

[1, 3, 10, 17, 19, 100]

In [ ]:
a3 = ['z','x','v','가','다','나']

In [ ]:
a3.sort()

In [ ]:
print(a3)

['v', 'x', 'z', '가', '나', '다']

In [ ]:
a4 = [1,9,5, 'c','a','v']

In [ ]:
print(a4)

[1, 9, 5, 'c', 'a', 'v']

In [ ]:
# a4.sort() -> 뭐가 더 큰지 비교가 안돼 (숫자랑 문자랑 비교 X)

In [ ]:
a5 = [3,5,2,9,10,12,15]

In [ ]:
a5.reverse() #reverse 는 정렬이 아니라 단순히 저장된 값들을 뒤집어줌.

In [ ]:
print(a5)

[15, 12, 10, 9, 2, 5, 3]

In [ ]:
print(a4)

[1, 9, 5, 'c', 'a', 'v']

In [ ]:
a4.reverse()

In [ ]:
print(a4)

['v', 'a', 'c', 5, 9, 1]

In [ ]:
a6 = [1, 2, [1,2,3]]
print(a6)

[1, 2, [1, 2, 3]]

In [ ]:
a6.reverse()

In [ ]:
print(a6) #reverse 해도 안에 리스트 속 값은 그대로

[[1, 2, 3], 2, 1]

In [ ]:
a6[0].reverse() #이런 식으로 따로 인덱스로 저장해서 reverse 해줘야 값 바뀜

In [ ]:
print(a6)

[[3, 2, 1], 2, 1]

In [ ]:
#게임 만들 때 리스트 속에 리스트가 들어있는 형태를 많이 볼 수 있다. [10,0] -> [x,y] 좌표 설정하는데 씀.
#색깔 표현할 때도 많이쓴다.

In [ ]:
# a = [이 안에 들어오는 애들을 인덱스라고 한다.]

In [ ]:
음식 = ['라면','떡볶이','커피','짜장면','파스타','불족','피자','치킨']
불족_인덱스 = 음식.index('불족') # 배열.index(찾고자하는 값) -> 찾고자하는 값의 인덱스를 찾아준다.
print(불족_인덱스)

5

In [ ]:
# 음식.index('소고기') -> 리스트 안에 '소고기'라는 값이 없기 때문에 오류가 발생한다.

In [ ]:
떡볶이_인덱스 = 음식.index('떡볶이')
피자_인덱스 = 음식.index('피자')
음식2 = 음식[떡볶이_인덱스:피자_인덱스]
print(음식2)

['떡볶이', '커피', '짜장면', '파스타', '불족']

In [ ]:
#삽입
음식.insert(불족_인덱스, '소고기') # 불족_인데스 = 5 따라서 5번째 인덱스에다가 소고기 추가
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자', '치킨']

In [ ]:
음식.pop() #pop() -> 맨 뒤에 값이 삭제됨, pop(여기다가 인덱스 적으면 그 인덱스에 값을 꺼내고 삭제함)

'치킨'

In [ ]:
print(음식)

['라면', '떡볶이', '커피', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.pop(2)

'커피'

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '불족', '피자']

In [ ]:
음식.remove('불족')

In [ ]:
print(음식)

['라면', '떡볶이', '짜장면', '파스타', '소고기', '피자']

In [ ]:
꺼낸음식 = 음식.pop()
print(꺼낸음식) #pop과 remove의 차이: pop은 리턴값을 처음에 갖고 있는다. return은 값을 진짜 없애기만 함.

피자

In [ ]:
삭제 = 음식.remove('라면')
print(삭제)

None

In [ ]:
# 음식.remove('라면') -> 이미 없어서 다시 없애려고 하면 에러 반환

In [ ]:
a8 = [1, 1, 1, 2, 3, 4, 4, '하이','하이', 1, 2]
하이_개수 = a8.count('하이')
print(하이_개수)

2

In [ ]:
일의_개수 = a8.count(1)
print(일의_개수)

4

In [ ]:
없는_거=a8.count('오현고') #없는 거 해도 에러 안나옴

In [ ]:
print(없는_거)

0

In [ ]:
a9 = [1,2,3] #a9 처럼 객체나 요소는 기능을 가지고 있고, 그 기능(메쏘드)을 쓰기 위해서는 .을 치고 메쏘드를 입력하면 됨 method는 함수의 일종
a10 = [4,5,6]
a9.extend(a10)
print(a9,"a9")
print(a10,"a10")

[1, 2, 3, 4, 5, 6] a9
[4, 5, 6] a10

In [ ]:
#변수명 설정은 그 변수가 무슨 값을 가지고 있는지 확실히 보여줄 수 있는 이름을 짓는게 좋다.

In [ ]:
a11 = [1,2,3]
a12 = a11 #원본을 복사해서 값을 넣음/  얕은 복사 = 배열을 보고 있다. a11이 [1,2,3]을 보고 있고, a11 = a12니까 a12도 [1,2,3]을 보고 있다.
print(a11, "a11")
print(a12, "a12")
a11[0]=10
print(a11,"a11")
print(a12,"a12")
#원본을 넣었기 때문에 하나만 바꿔도 똑같이 바뀜
#깊은 복사, 얕은 복사

[1, 2, 3] a11
[1, 2, 3] a12
[10, 2, 3] a11
[10, 2, 3] a12

In [ ]:
a11 = [1,2,3]
a12 = a11[:] 
print(a11, "a11")
print(a12, "a12")
a11[0]=10
print(a11,"a11")
print(a12,"a12")

[1, 2, 3] a11
[1, 2, 3] a12
[10, 2, 3] a11
[1, 2, 3] a12

In [ ]:
a11 = [1,2,3]
a12 = a11.copy() #깊은 복사 = 똑같이 생겼지만 다른거다 식의 의미
print(a11, "a11")
print(a12, "a12")
a11[0]=10
print(a11,"a11")
print(a12,"a12")

[1, 2, 3] a11
[1, 2, 3] a12
[10, 2, 3] a11
[1, 2, 3] a12

In [ ]:
a13 = [1,2,3,4,5]
print(a13, "클리어 이전")
a13.clear()
print(a13, "클리어 이후")

[1, 2, 3, 4, 5] 클리어 이전
[] 클리어 이후

# 튜플

In [ ]:
튜플 = (1,2,3)
print(튜플)

(1, 2, 3)

In [ ]:
print(type(튜플))

<class 'tuple'>

In [ ]:
print(튜플[0])

1

In [ ]:
# 튜플[0] = 10 -> 오류 발생
#튜플은 값을 바꿀 수 없음. 인덱스, 슬라이싱은 ㅇㅋ

In [ ]:
샘플_배열 = [1,2,3]
print(샘플_배열)
del 샘플_배열[0] #del은 배열만들고 걔가 갖는 기능이 아님. 따라서 모든 값을 지울 수 있는데, 튜플 안에 있는 값은 안됨.
print(샘플_배열)

[1, 2, 3]
[2, 3]

In [ ]:
변수 = 1
print(변수)

1

In [ ]:
#del 변수
#print(변수) -> del은 변수도 지워버려서 에러 발생

In [ ]:
# del 튜플[0] -> del 써도 튜플은 못 지움.

In [ ]:
튜플1=(1,2,3,[1,2,3]) #튜플 속에 무슨 값이든 들어올 수 있다.\
print(튜플1)
튜플1[-1][0] = 10
print(튜플1)
#튜플 속에 있는 리스트는 값을 바꿀 수 있음 왜 why -> 리스트를 상자라고 생각하고, 튜플 속 리스트의 주소를 1번이라고 하면 그 리스트 속 인덱스들은 각각 다른 주소를 가지고 있기 때문에 그 인덱스들을 바꿔도 튜플이 가지고 있는 값이 바뀐게 아니다./ 변수 = [1,2,3] 리스트는 []-> 1번 주소 만 있음 1,2,3 은 각각 2,3,4 번주소 이런 식 -> 이게 깊은 복사 얕은 복사와 관련된 개념

(1, 2, 3, [1, 2, 3])
(1, 2, 3, [10, 2, 3])

In [ ]:
# 튜플1[-1]= 10 -> 리스트여도 못바꿔 !리스트 속 값은 바꿀 수 있지만!

In [ ]:
print(튜플[:2])

(1, 2)

In [ ]:
print(튜플[:1]) #(1,)로 나오는데 왜 (1)이 아닌걸까? ->

(1,)

In [ ]:
dir(튜플)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
len(튜플)

3

튜플은 변경돼선 안되는 값들을 저장할 때 사용.

# 딕셔너리

In [ ]:
#키와 값으로 이루어져있다.
딕셔너리 = {'키':'값'}

In [ ]:
print(딕셔너리)
#{:}-> 딕셔너리
print(딕셔너리['키'])

{'키': '값'}
값

In [ ]:
print(type(딕셔너리))

<class 'dict'>

In [ ]:
회원정보 = {
    '이름':'환', 
    '번호':'010-0000-0000', 
    '성별':'남'}

In [ ]:
print(회원정보['이름'])

환

In [ ]:
회원정보['주소']='제주시' # 키와값을 추가한다.
print(회원정보['주소'])

제주시

In [ ]:
회원정보['번호']='010-0000-0001' #-> 번호가 추가 되는게 아니라 변함
print(회원정보['번호'])

010-0000-0001

In [ ]:
회원정보2 = {
    '이름':'환', 
    '번호':'010-0000-0000', 
    '성별':'남',
    '번호':'010-000-0001'} #중복되는 키는 허용 X 중복될 경우 맨 밑에 있는걸로 키, 값을 저장

In [ ]:
회원정보.keys()

dict_keys(['이름', '번호', '성별', '주소'])

In [ ]:
dir(회원정보)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
회원정보키 = 회원정보.keys()
회원정보값 = 회원정보.values()
print(회원정보키, "키")
print(회원정보값, "값")

dict_keys(['이름', '번호', '성별', '주소']) 키
dict_values(['환', '010-0000-0001', '남', '제주시']) 값

In [ ]:
이름get = 회원정보.get('이름')
이름 = 회원정보['이름']
print(이름get, 'get이용')
print(이름, "key이용하여 가져옴")

환 get이용
환 key이용하여 가져옴

In [204]:
샘플_딕셔너리 ={
    "배열1":[1,2,3]

}
배열get = 샘플_딕셔너리.get("배열2") #-> 값이 없어도 None을 출력
#배열키로가져오기 = 샘플_딕셔너리['배열1'] -> 값이 없을 경우에는 에러

In [205]:
print(배열get)

None

In [206]:
'이름' in 회원정보

True

In [207]:
'직업' in 회원정보

False

# Bool 자료형

In [208]:
print(True)

True

In [209]:
print(False)

False

In [210]:
print(type(True))

<class 'bool'>

In [211]:
print(type(False))

<class 'bool'>

In [212]:
dir(True)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# 비교

In [213]:
숫자1=10
숫자2=20

In [217]:
결과1 = 숫자1<숫자2
print(결과1)

True

In [218]:
결과2 = 숫자1 == 숫자2
print(결과2)

False

In [220]:
결과3 = 숫자1>숫자2
print(결과3)

False

In [221]:
결과4 = 숫자1 <= 숫자2
결과5 = 숫자1 >= 숫자2
결과6 = 숫자1 != 숫자2

In [222]:
print(결과4,결과5,결과6)

True False True

#조건문

In [225]:
# if Boolean(True or Ralse): 하고 실행할 내용을 입력/ 조건문은 조건이 참일 때 실행됨.
if False:
    print("거짓입니다.")

In [226]:
if True:
    print("참입니다.")

참입니다.

In [227]:
not True

False

In [229]:
조건 = False
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는 것이 없습니다.")

거짓입니다.

In [231]:
조건 = True
if not 조건:
    print("거짓입니다.")
else:
    print("조건에 맞는 것이 없습니다.") #else는 조건 이외의 것이다. 무조건 위가 True라고 해서 else는 False일 때라고 생각하면 헷갈릴 때가 있을 수 있다.

조건에 맞는 것이 없습니다.

In [233]:
숫자1=1
숫자2=10
숫자3=15

In [236]:
#if로 시작해서 elif는 몇개든 상관 없고, else로 끝난다 보통
if 숫자1>5:
    print("숫자1이 5보다 큽니다.")
elif 숫자2<11:
    print("숫자2가 11보다 작습니다.")
else:
    print(숫자3,"마지막 숫자 입니다.")

숫자2가 11보다 작습니다.

#논리 연산

In [239]:
#and, or
print(False and False)
print(True and False)

False
False

In [240]:
print(True or False)

True

In [241]:
#and는 둘다 True, or는 둘 중 하나만 True여도 됨.

In [242]:
숫자1=1
숫자2=10
숫자3=15

if 숫자1>5 or 숫자2<11:
    print("숫자1이 5보다 큽니다. 또는 숫자2가 11보다 작습니다.")
elif 숫자2<11:
    print("숫자2가 11보다 작습니다.")
else:
    print(숫자3,"마지막 숫자 입니다.")

숫자1이 5보다 큽니다. 또는 숫자2가 11보다 작습니다.

In [243]:
입력_받은_값 = input()

10

In [245]:
print(입력_받은_값) #input으로 입력 받으면 str형으로 저장

10

In [247]:
#print(입력_받은_값 > 5) 에러발생

In [249]:
print(type(입력_받은_값))

<class 'str'>

In [255]:
입력받은숫자 = int(입력_받은_값)

In [256]:
print(type(입력받은숫자))

<class 'int'>

In [254]:
입력_받은_값2=int(input())

11

In [257]:
# 숫자 2개를 입력 받아서 비교함
a = int(input("첫번째 숫자를 입력해 주세요."))
b = int(input("두번째 숫자를 입력해 주세요."))
if (a>b):
    print("첫번째 숫자가 큽니다.")
elif (a==b):
    print("숫자가 같습니다.")
else:
    print("두번째 숫자가 큽니다.")

첫번째 숫자를 입력해 주세요.13
두번째 숫자를 입력해 주세요.15
두번째 숫자가 큽니다.

In [259]:
c,d = input("두 숫자를 띄어쓰기로 입력해주세요").split()
C = int(c)
D = int(d)
if (C>D):
    print("첫번째 숫자가 큽니다.")
elif (C==D):
    print("숫자가 같습니다.")
else:
    print("두번째 숫자가 큽니다.")

두 숫자를 띄어쓰기로 입력해주세요1 10
두번째 숫자가 큽니다.

In [261]:
"""
c,d = int(input("두 숫자를 띄어쓰기로 입력해주세요").split())  input("두 숫자를 띄어쓰기로 입력해주세요").split()=> 배열임. 따라서 숫자로 못바꿈.
if (c>d):
    print("첫번째 숫자가 큽니다.")
elif (c==d):
    print("숫자가 같습니다.")
else:
    print("두번째 숫자가 큽니다.")
"""

'\nc,d = int(input("두 숫자를 띄어쓰기로 입력해주세요").split())  input("두 숫자를 띄어쓰기로 입력해주세요").split()=> 배열임. 따라서 숫자로 못바꿈.\nif (c>d):\n    print("첫번째 숫자가 큽니다.")\nelif (c==d):\n    print("숫자가 같습니다.")\nelse:\n    print("두번째 숫자가 큽니다.")\n'

#반복문

In [262]:
# while Ture 인 동안: 
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트+=1

0
1
2
3
4
5
6
7
8
9

In [264]:
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트+=1
    break
#break는 깨고 나온다는 의미.

0

In [266]:
카운트 = 0
while 카운트<10:
    print(카운트)
    카운트+=1
    if (카운트 ==6):
        break

0
1
2
3
4
5

In [271]:
카운트 = 0
while 카운트<10:
    카운트+=1
    if (카운트 ==1):
        continue # continue가 나오면 다음 루프로 넘어간다 밑에 명령을 실행하지 않고

    if (카운트%2 == 1):
        print(카운트)

3
5
7
9

In [272]:
for 숫자 in [0,1,2,3,4]:
    print(숫자)

0
1
2
3
4

In [273]:
for 숫자 in [10,1,2,3,4]:
    print(숫자)

10
1
2
3
4

In [274]:
문자 = "hello"
print(문자[0])

h

In [275]:
for 숫자 in (10,1,2,3,4):
    print(숫자)

10
1
2
3
4

In [276]:
#for 인자 in 순서가 있는 값 -> 인자가 순서가 있는 값을 갖는 동안 반복

In [277]:
for 숫자 in 문자:
    print(숫자)

h
e
l
l
o

In [279]:
레인지 = range(10)
print(레인지)#순서가 있다.

range(0, 10)

In [280]:
for k in range(10):
    print(k)

0
1
2
3
4
5
6
7
8
9

In [281]:
for k in range(10):
    if (k%2 == 0):
        print(k)

0
2
4
6
8

In [282]:
for k in range(10):
    if (k%2 == 1):
        print(k)

1
3
5
7
9

In [283]:
for a in range(10):
    for s in range(5):
        print(a,s)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
7 0
7 1
7 2
7 3
7 4
8 0
8 1
8 2
8 3
8 4
9 0
9 1
9 2
9 3
9 4

In [293]:
for k in range(1,10):
    for x in range(1,10):
        print(k,"*",x, '=', k*x)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [298]:
for k in range(1,10):
    for x in range(1,10):
        식 = str(k)+"*"+str(x)
        결과 = str(k*x)
        print(식+"="+결과,end="")

1*1=11*2=21*3=31*4=41*5=51*6=61*7=71*8=81*9=92*1=22*2=42*3=62*4=82*5=102*6=122*7=142*8=162*9=183*1=33*2=63*3=93*4=123*5=153*6=183*7=213*8=243*9=274*1=44*2=84*3=124*4=164*5=204*6=244*7=284*8=324*9=365*1=55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=456*1=66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=547*1=77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=638*1=88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=729*1=99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [297]:
for k in range(1,10):
    for x in range(1,10):
        식 = str(k)+"*"+str(x)
        결과 = str(k*x)
        print(식+"="+결과,end="")
    print("\n")

1*1=11*2=21*3=31*4=41*5=51*6=61*7=71*8=81*9=9

2*1=22*2=42*3=62*4=82*5=102*6=122*7=142*8=162*9=18

3*1=33*2=63*3=93*4=123*5=153*6=183*7=213*8=243*9=27

4*1=44*2=84*3=124*4=164*5=204*6=244*7=284*8=324*9=36

5*1=55*2=105*3=155*4=205*5=255*6=305*7=355*8=405*9=45

6*1=66*2=126*3=186*4=246*5=306*6=366*7=426*8=486*9=54

7*1=77*2=147*3=217*4=287*5=357*6=427*7=497*8=567*9=63

8*1=88*2=168*3=248*4=328*5=408*6=488*7=568*8=648*9=72

9*1=99*2=189*3=279*4=369*5=459*6=549*7=639*8=729*9=81

In [305]:
# 아래 로직 계속 실행
#1부터 9까지만 입력을 받을 수 있음 -> 음수도 생각해야지
#그 값의 구구단을 출력
#0을 입력하면 종료
while True:
    k= int(input("1부터 9까지의 수를 입력해주세요. 정지를 원하시면 0을 입력해주세요."))
    if (k==0):
        break
    if (k>9 or k<0):
        continue
    for x in range(1,10):
        print(k,"*",x,"=",k*x)

1부터 9까지의 수를 입력해주세요. 정지를 원하시면 0을 입력해주세요.-1
1부터 9까지의 수를 입력해주세요. 정지를 원하시면 0을 입력해주세요.90
1부터 9까지의 수를 입력해주세요. 정지를 원하시면 0을 입력해주세요.0